stages:
  - sanity
  - integration

ansible-devel-1/4:
  stage: sanity
  image: python:3.6-buster
  allow_failure: true
  except:
    - tags
  script:
    - bash tests/utils/gitlab/gitlab.sh devel/sanity/1
  tags:
    - hc-bladerunner

ansible-devel-2/4:
  stage: sanity
  image: python:3.6-buster
  allow_failure: true
  except:
    - tags
  script:
    - bash tests/utils/gitlab/gitlab.sh devel/sanity/2
  tags:
    - hc-bladerunner

ansible-devel-3/4:
  stage: sanity
  image: python:3.6-buster
  allow_failure: true
  except:
    - tags
  script:
    - bash tests/utils/gitlab/gitlab.sh devel/sanity/3
  tags:
    - hc-bladerunner

ansible-devel-4/4:
  stage: sanity
  image: python:3.6-buster
  allow_failure: true
  except:
    - tags
  script:
    - bash tests/utils/gitlab/gitlab.sh devel/sanity/4
  tags:
    - hc-bladerunner

ansible-210-1/4:
  stage: sanity
  image: python:3.6-buster
  except:
    - tags
  script:
    - bash tests/utils/gitlab/gitlab.sh 2.10/sanity/1
  tags:
    - hc-bladerunner

ansible-210-2/4:
  stage: sanity
  image: python:3.6-buster
  except:
    - tags
  script:
    - bash tests/utils/gitlab/gitlab.sh 2.10/sanity/2
  tags:
    - hc-bladerunner

ansible-210-3/4:
  stage: sanity
  image: python:3.6-buster
  except:
    - tags
  script:
    - bash tests/utils/gitlab/gitlab.sh 2.10/sanity/3
  tags:
    - hc-bladerunner

ansible-210-4/4:
  stage: sanity
  image: python:3.6-buster
  except:
    - tags
  script:
    - bash tests/utils/gitlab/gitlab.sh 2.10/sanity/4
  tags:
    - hc-bladerunner

ansible-29-1/4:
  stage: sanity
  image: python:3.6-buster
  except:
    - tags
  script:
    - bash tests/utils/gitlab/gitlab.sh 2.9/sanity/1
  tags:
    - hc-bladerunner

ansible-29-2/4:
  stage: sanity
  image: python:3.6-buster
  except:
    - tags
  script:
    - bash tests/utils/gitlab/gitlab.sh 2.9/sanity/2
  tags:
    - hc-bladerunner

ansible-29-3/4:
  stage: sanity
  image: python:3.6-buster
  except:
    - tags
  script:
    - bash tests/utils/gitlab/gitlab.sh 2.9/sanity/3
  tags:
    - hc-bladerunner

ansible-29-4/4:
  stage: sanity
  image: python:3.6-buster
  except:
    - tags
  script:
    - bash tests/utils/gitlab/gitlab.sh 2.9/sanity/4
  tags:
    - hc-bladerunner

ansible-devel-1/3:
  stage: integration
  image: python:3.6-buster
  except:
    - tags
  script:
    - echo "$HCLOUD_TOKEN" >> "$(pwd)/hcloud_token.txt"
    - echo "py38-$CI_JOB_ID" >> "$(pwd)/prefix.txt"
    - bash tests/utils/gitlab/gitlab.sh devel/hcloud/3.6/1
  tags:
    - hc-bladerunner


ansible-devel-2/3:
  stage: integration
  image: python:3.6-buster
  except:
    - tags
  script:
    - echo "$HCLOUD_TOKEN" >> "$(pwd)/hcloud_token.txt"
    - echo "py39-$CI_JOB_ID" >> "$(pwd)/prefix.txt"
    - bash tests/utils/gitlab/gitlab.sh devel/hcloud/3.6/2
  tags:
    - hc-bladerunner

ansible-devel-3/3:
  stage: integration
  image: python:3.6-buster
  except:
    - tags
  script:
    - echo "$HCLOUD_TOKEN" >> "$(pwd)/hcloud_token.txt"
    - echo "py39-$CI_JOB_ID" >> "$(pwd)/prefix.txt"
    - bash tests/utils/gitlab/gitlab.sh devel/hcloud/3.6/3
  tags:
    - hc-bladerunner
