trigger:
  batch: true
  branches:
    include:
      - main

pr:
  autoCancel: true
  branches:
    include:
      - main

schedules:
  - cron: 0 9 * * *
    displayName: Nightly
    always: true
    branches:
      include:
        - main

variables:
  - name: checkoutPath
    value: ansible_collections/hetzner/hcloud
  - name: coverageBranches
    value: main
  - name: pipelinesCoverage
    value: coverage
  - name: entryPoint
    value: tests/utils/shippable/shippable.sh
  - name: fetchDepth
    value: 0

resources:
  containers:
    - container: default
      image: quay.io/ansible/azure-pipelines-test-container:3.0.0

pool: Standard

stages:
### Sanity
  - stage: Ansible_devel
    displayName: Sanity devel
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          targets:
            - name: Sanity
              test: 'devel/sanity/1'

  - stage: Ansible_2_14
    displayName: Sanity 2.14
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          targets:
            - name: Sanity
              test: '2.14/sanity/1'
  - stage: Ansible_2_13
    displayName: Sanity 2.13
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          targets:
            - name: Sanity
              test: '2.13/sanity/1'
  - stage: Ansible_2_12
    displayName: Sanity 2.12
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          targets:
            - name: Sanity
              test: '2.12/sanity/1'


## Integration tests (remote)
  - stage: Hetzner_devel
    displayName: Hetzner devel
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          groups:
            - 1
            - 2
          targets:
            - name: hcloud
              test: 'devel/hcloud/3.9'

  - stage: Hetzner_2_14
    displayName: Hetzner 2.14
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          groups:
            - 1
            - 2
          targets:
            - name: hcloud
              test: '2.14/hcloud/3.9'

  - stage: Hetzner_2_13
    displayName: Hetzner 2.13
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          groups:
            - 1
            - 2
          targets:
            - name: hcloud
              test: '2.13/hcloud/3.9'

  - stage: Hetzner_2_12
    displayName: Hetzner 2.12
    dependsOn: []
    jobs:
      - template: templates/matrix.yml
        parameters:
          groups:
            - 1
            - 2
          targets:
            - name: hcloud
              test: '2.12/hcloud/3.9'

### Finally
  - stage: Summary
    condition: succeededOrFailed()
    dependsOn:
      - Ansible_devel
      - Ansible_2_14
      - Ansible_2_13
      - Ansible_2_12
      - Hetzner_devel
      - Hetzner_2_14
      - Hetzner_2_13
      - Hetzner_2_12
    jobs:
      - template: templates/coverage.yml
